.todos-container {
  display: inline-grid;

  input {
    width: 260px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid gray;
  }
}

.todos-content {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 0.75rem 0;
}

.no-todo-content,
.percentage {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
}

.no-todo-content {
  border-bottom: 1px solid gray;
  padding: 0 0 0.75rem 0;
}

.todo-done {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 1rem;

  a {
    font-size: 20px;
  }
}

.btn-remove {
  background-color: #c00;
  text-decoration: none;
  color: #e8e5e5;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
